.jumbotron{
    background-image:url("https://images.pexels.com/photos/697662/pexels-photo-697662.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    width:100%;
}


h1{
    color:white;
}

h2{
    color:white;
}